.container
	background-color: #f6f6f6
	padding: 0px 8px
	border-radius: 8px
	display: inline-flex
	height: 32px

.prefix
	line-height: 32px
	margin-right: 8px

.input
	border: 0
	outline: 0
	background-color: inherit
