.item
    background-color: #f6f6f6
    padding: 2px 16px
    margin-top: 4px
    margin-bottom: 4px
    border-radius: 4px
    font-size: 16px
    font-weight: 500
    height: 48px
    line-height: 48px
    overflow: hidden
    font-weight: 600
    img
        margin-right: 15px
        vertical-align: middle

.clickable
    cursor: pointer
    transition: 0.5s
    &:hover
        box-shadow: inset 0 52px 0 0 #f0f0f0
